<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Customers page
-->

<p>Welcome to the Crab Shack on the Bay!</p>
<p>Use this app to handle customers, products, and orders for the store.</p>