<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Lookup Customer
-->

<h2>Lookup Customer</h2>
<p>Here we can add some forms!</p>