<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Add Card Type
-->

<h2>Payment Type Codes</h2>
<p>Here you can see the current payment type codes and add/remove payment type codes.</p>
<div class="table-container form-container">
    <table class="table">
        <thead>
            <tr>
                <th>Payment Type Code</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr class="table-row">
                <td class="cell-data">{{this.card_type_code}}</td>
                <td class="cell-data">{{this.card_type_description}}</td>
                <td><input class="delete-button" type="submit" value="Delete" onclick="deleteRow(this.parent)"></td>
                <td><input class="edit-button" type="submit" value="Edit" onclick="setDefaults(this.parent)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="form-container">
    <form id="addCardTypeForm">
        <fieldset>
            <label for="addCardTypeDescription">Payment Type Description</label>
            <textarea class="add-card-type"  id="addCardTypeDescription" name="cardTypeDescription" rows="4" cols="50">Add payment type description here!</textarea>
            <input class="add-card-type" id="addCardTypeButton" type="submit" value="Submit">
        </fieldset>
    </form>
</div>