<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Search Product Type
-->

<h2>Search Product Type</h2>
<p>Here we can add some forms!</p>