<!--
    Author: Timothy Hong, Antonio Irizarry
    Class: CS 340
    Date: 04/26/21
    Title: Crab Shack on the Bay
    Description: Crab Shack on the Bay Homepage
-->

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Crab Shack on the Bay</title>
	<link rel="stylesheet" href="/assets/styles/stylesheet.css" type="text/css">
</head>

<body>
	{{>navbar}}
	{{>header}}
	<div class="body push">
		{{{body}}}
	</div>
	{{>footer}}
	<script src="/assets/scripts/index.js"></script>
</body>

</html>