<nav class="navbar push">
	<div id="sidenav-open" class="body">
		<span onclick="openNav()">&#9776; Menu</span>
	</div>
	<div id="sidenav-menu" class="sidenav">
		<ul>
			<li class="closebtn" onclick="closeNav()">&times;</li>
			<li><a href="/">Home</a></li>
			<li><a href="/customers">Customers</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/orders">Orders</a></li>
			<li><a href="/references">References</a></li>
			<br>
			<br>
			<li><a href="https://en.wikipedia.org/wiki/Flag_of_Maryland" target="_blank"><img src="/img/mdflag.gif" alt="MD Flag" width="128" height="90" style="float:middle; margin:0px 0px 0px 0px; padding-left:30px;"></a></li>
		</ul>
	</div>
</nav>