<nav class="navbar push">
	<div id="sidenav-open" class="body">
		<span onclick="openNav()">&#9776; MENU</span>
	</div>
	<div id="sidenav-menu" class="sidenav">
		<ul>
			<li class="closebtn" onclick="closeNav()">&times;</li>
			<li><a href="/"><img src="/img/mdflag.gif" alt="MD Flag"></a></li>
			<li><a href="/">Home</a></li>
			<li><a href="/customers">Customers</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/orders">Orders</a></li>
			<li><a href="/references">References</a></li>
			<br>
			<br>
		</ul>
	</div>
</nav>