<nav class="navbar push">
	<div id="sidenav-open" class="body">
		<span onclick="openNav()">&#9776; Menu</span>
	</div>
	<div id="sidenav-menu" class="sidenav">
		<ul>
			<li class="closebtn" onclick="closeNav()">&times;</li>
			<li><a href="/">Home</a></li>
			<li><a href="/customers">Customers</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/orders">Orders</a></li>
			<li onclick="toggleSubMenu(this.nextElementSibling.id);">References</li>
				<ul id="references-menu" class="submenu">
					<li><a href="/references/products">Product Type Codes</a></li>
					<li><a href="/references/cards">Card Type Codes</a></li>
				</ul>
			</li>
			<br>
			<br>
			<li><img src="/img/mdflag.gif" alt="MD Flag" width="128" height="90" style="float:middle; margin:0px 0px 0px 0px; padding-left:30px;"></li>
		</ul>
	</div>
</nav>